.Rproj.user
.RData
.Rhistory
**.aux
**.fls
**.fdb*
**.log
**.gz
**.csv
*test*
paper
notes*
data/00_raw/death_rates/**/*.txt
data/00_raw/cdeath_rates/**/*.txt
data/03_historic/stage1/*.rds
data/03_historic/cstage1/*.rds
data/03_historic/*.rds