.Rproj.user
.RData
.Rhistory
**.aux
**.fls
**.fdb*
**.log
**.gz
data/00_raw/full_qx_cdata.csv
data/01_processed/full_qx_data.csv
*test*
paper
notes*
data/00_raw/death_rates/**/*.txt
data/00_raw/cdeath_rates/**/*.txt
data/03_historic/stage1/*.rds
data/03_historic/cstage1/*.rds
data/03_historic/*.rds
data/04_historic_display/*.rds
scripts/_*.R
