.Rproj.user
.RData
.Rhistory
**.aux
**.fls
**.fdb*
**.log
**.gz
data
!data/00_raw/country_codes.csv
!*.gitkeep
*test*
paper
notes*
data/00_raw/death_rates/**/*.txt
data/00_raw/cdeath_rates/**/*.txt
data/02_models/historic_stage1/*.rds
data/02_models/historic*.rds
data/02_display/historic*.rds
scripts/_*.R
scripts/**/_*.R
packrat/lib*/
packrat/src/
build
images/*
reports/*
Rplots.ps
